body {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    text-align: left;
}

menu h2 {
    text-align: center;
}

.menu {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    padding: 40px;
}

div button {
    background-color: rgb(115, 164, 255);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: none;
    border-radius: 5px;
    height: 44px;
    min-width: 240px;
    cursor: pointer;
    font-size: 18px;
    margin: 8px 0;
}

#addContactPopup {
    display: none;
}

#addContactConfirmationPopup {
    display: none;
}

#contactListPopup {
    display: none;
}

#editContactSearchPopup {
    display: none;
}

#editContactPopup {
    display: none;
}

#editContactConfirmationPopup {
    display: none;
}

#deleteContactPopup {
    display: none;
}

#deleteContactConfirmationPopup {
    display: none;
}

#searchContactPopup {
    display: none;
}

#foundContactPopup {
    display: none;
}